# NOTE: Keep in sync with other configuration ignore files

# Package directories & files
/node_modules
# Ignore dist and build folder in every (sub)folder
dist
build
*.tgz

# TypeScript build files
*.tsbuildinfo

# IDE specific files
.vscode

# Coverage
/coverage

# Log files
*.log

airseeker.json
secrets.env

# Scripts
/scripts

# Ignore Serverless directories
.serverless
.build