# NOTE: Keep in sync with other configuration ignore files

# Package directories & files
/node_modules
/dist
*.tgz

# IDE specific files
.vscode

# Coverage
/coverage

# Log files
*.log

airseeker.json
secrets.env

# Terraform
.terraform*
terraform.tfstate*
*.tfvars